<h2>Por Continente</h2>
<hr>

<div class="row">
  <div class="col text-center">
    <!-- SearchBox -->
    <button *ngFor="let region of regions"
      class="btn mx-2"
      [ngClass]="{ 'btn-outline-primary': selectedRegion === region }"
      (click)="searchByRegion(region)">
      {{ region }}
    </button>

<!--     <shared-search-box
      (onDebounce)="searchByRegion($event)"
      placeholder="Buscar por continente"></shared-search-box> -->
      <!-- v1 (onValue)="searchByRegion($event)" -->

  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <countries-table [countries]="countries"></countries-table>
  </div>
</div>
